/* Clase personalizada para tablas */
.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Bordes en toda la tabla */
  .custom-table th, .custom-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
  }
  
  /* Alternancia de colores para filas */
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilo para la cabecera */
  .custom-table th {
    background-color: #f8f9fa;
    text-align: left;
  }
  