* {
    margin: 0;
    padding: 0;
}

.form_label {
    width: 100%;
    display: flex;    
    flex-direction: column;
    color: #e7e7e7;

}

.form_inputs {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    width: 70%;

}

.form_input {
    width: 18rem;
    height: 3.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border: 1.5px solid #e7e7e7;
    border-radius: 10px;
    color: #e7e7e7;
    z-index: 90;   
    outline: none;
}

.form_input:focus+.form_text,
.form_input:not(:placeholder-shown)+.form_text {
    background-color: #073b4c;
    transform: translateY(-145%) scale(1.1);
    padding: 0 0.5rem  0 0.5rem;
}

.form_text {
    z-index: 100;
    width: max-content;
    height: max-content;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    position: relative;
    top: -3.3rem;
    left: 1rem;
    align-items: center;
    transform-origin: right center;
    transition: transform .3s;
}