
.main_homeClient{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.container_home_client{
    width: auto;
    height: auto;
    padding-bottom: 8rem;
    overflow-x: hidden;
}


.icon_1{
    width: 4rem;
    
}


.icon_2{
    width: 6rem;
    opacity: 0.4; 
}

.icon_3{
    width: 4rem;
    opacity: 0.4; 
}
.icon_4{
    width: 4rem;
    opacity: 0.4; 
    margin-left: 6rem;
}

.shade_perfil {
    width: 37%;
    height: 3rem;
    display: none;
    position: absolute;
    top: 1.25rem;
    left: 2rem;
    box-shadow: -35px 5px 3px rgba(0, 0,0, 0.6) ;
}

.shade_historial{
    width: 45%;
    height: 3rem;
    display: none;
    position: absolute;
    top: 1.4rem;
    left: 2rem;
    box-shadow: -35px 5px 3px rgba(0, 0,0, 0.6) ;
}

.shade_field {
    width: 60%;
    height: 3rem;
    display: none;
    position: absolute;
    top: 0.82rem;
    right: -2rem;
    box-shadow: -35px 5px 3px rgba(0, 0, 0, 0.6);
}
.shade_support {
    width: 42%;
    height: 3rem;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 1.6rem;
    right: -2rem;
    box-shadow: -35px 5px 3px rgba(0, 0, 0, 0.6);
    display: none;
}

.barra-navegacion{
    width: 100%;
    height: auto;
    position: fixed; 
}

@media (width > 1200px) {
    .shade_perfil{
        width: 10.5%;
        display: none;
    }

    .shade_historial{
        width: 12.5%;
        display: none;
    }

    .shade_field{
        width: 10%;
        display: none;
    }
    

    .main_homeClient{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
       
        gap: 2rem;     
        margin-top: -4rem;   
    }

    .homeLogo {
        position: absolute;
        top: 10px;
        right: 3rem;
        width: 10rem;
    }

    .icon_1{
        width: 13rem;
        position: absolute;
        right: 12%;
        top: 1px;        
    }   
    
    .icon_2{
        width: 18rem;
        opacity: 0.4; 
        position: absolute;
        left: 5%;
        border: 3px solid;
    }
    
    .icon_3{        
        opacity: 0.4; 
       display: none;
    }
    

    
}