.btn-reservar{
    margin-top: 2rem;
    width: 10rem;
    border: none;
    height: auto;
    background-color: #07954A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 7px 6px 10px #07954983;
    font-size: 1.2rem;
    padding: 1rem;

}

.container_date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}