/* Fondo oscuro con opacidad detrás del modal */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

/* Estilos del modal centrado */
.canchas {
    width: 85%;
    height: 85%;    
    background-color: #073b4c;
    border-radius: 15px;
    color: #e7e7e7;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    z-index: 1000; /* Debe estar por encima del fondo con opacidad */
    border: 5px solid #e7e7e78e;

}

.content-img-canchas {
    width: 100%;
    height: 15rem;
}

.img-canchas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.precio {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color:#e7e7e7;
}

.titulo-cancha {
    text-align: center;
    margin: 2rem;
    color: #e7e7e7;
    font-size: 2rem;
}

.descripcion {
    font-size: 20px;
    padding: 1rem;
    color: #e7e7e7;
    text-align: left;
    letter-spacing: 1px;
    border-top: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviciosBigCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    color: #e7e7e7;
    margin-bottom: 1rem;
    width: 100%;
    height: max-content;
}

.serviciosBigCard-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.option {
    background-color: #073b4c;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border-style: none;
    border: 3px solid #e7e7e78e;

}

.serviciosBigCard h3 {
    margin-bottom: 1rem;
}

/* Botón de cierre en la esquina superior derecha */
.close-btn {
    position: fixed;
    top: 5.5rem;
    right: 3rem;
    background-color: #e7e7e7;
    border: none;
    color: #07954A;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 20;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    
}

.close-btn:hover {
    color: red;
}

.btn {
    text-align: center;
    margin: 1.25rem;
    display: flex;
    width: auto;
    flex-direction: column;
}

.btn-reservar,
.otra-Reserva {
    width: max-content;
    height: max-content;
    border-radius: 10px;
    background-color: #07954a;
    color: #e7e7e7;
    font-size: 1.5rem;
    padding: 0.50rem;
}

.calendario {
    width: 100%;
}


.visualizadorTitulo {
    color: #e7e7e7;
    position: absolute;
    background: #073b4c;
    border-bottom-right-radius: 10px;
    padding: 5px 10px;  
    letter-spacing: 2px; 
      border-bottom: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;           
}

.visualizadorTitulo::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;  
  right: -15px;
  border-top: 1px solid #e7e7e7;  
  top: 0;
  border-top-left-radius: 10px;
  box-shadow: -5px -5px  #073b4c;
}

.visualizadorTitulo::after{
    content: "";
    width: 15px;
    height: 15px;    
    position: absolute;
    bottom: -15px;
    border-top-left-radius: 10px;
    box-shadow: -5px -5px #073b4c;
    left: 0px;
    border-left: 1px solid #e7e7e7;   
}


.canchas>section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.canchas>section>h3{
    font-size: 1.5rem;
    background-color: #07954A;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
}

.canchas>section>p{
    font-size: 1.5rem;
}