* {
    margin: 0;
    padding: 0;
}

.signUp {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #073B4C;
}

.logo {
    width: 9rem;
    margin: 6rem 0 3rem 0;
}

.title_signUp {
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.input_signUp {
    width: 20rem;
    height: 3rem;
    background-color: transparent;
    border: 1.5px solid #e7e7e7;
    border-radius: 10px;
}

.label {
    width: 10rem;
    position: relative;
    top: 0.5rem;
    left: 1.5rem;
    background-color: #073B4C;
    text-align: center;
}

.input {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;

}

.register,
.return {
    margin-top: 3rem;
    width: 19rem;
    border: none;
    height: 4rem;
    background-color: #07954A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 7px 6px 10px #07954983;
    font-size: 1.2rem;


}

.return{
    margin-bottom: 4rem;
}


.account-type-container {
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    color: #e7e7e7;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 5rem;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

.radio-option input[type="radio"] {
    display: none;
}

.custom-radio {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: inline-block;
    margin-right: 8px;
    position: relative;
}


.radio-option input[type="radio"]:checked+.custom-radio {
    border-color: #07954A;
}

.radio-option input[type="radio"]:checked+.custom-radio::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #07954A;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* INPUTS */

.form_label {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #e7e7e7;

}

.form_inputs {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    width: 70%;

}

.form_input {
    width: 18rem;
    height: 3.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border: 1.5px solid #e7e7e7;
    border-radius: 10px;
    color: #e7e7e7;
    outline: none;
}

.form_input:focus+.form_text,
.form_input:not(:placeholder-shown)+.form_text {
    background-color: #073b4c;
    transform: translateY(-145%) scale(1.1);
    padding: 0 0.5rem 0 0.5rem;
    
}

.form_text {
    width: max-content;
    height: max-content;
    margin-top: 1rem;
    display: flex;
    position: relative;
    top: -3.3rem;
    left: 1rem;
    align-items: center;
    transform-origin: right center;
    transition: transform .3s;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message{
    width: 70%;
    height: auto;
    text-align: center;
    margin-bottom: 1.8rem;
    background-color: #914747;
    padding: 0.5rem;
    border-radius: 10px;
    color: #e7e7e7;
}

/* Contenedor del input de contraseña */
.password-input-container {
    position: relative; /* Asegura que el icono se posicione en relación al contenedor */
    width: 100%; /* Asegúrate de que ocupe el 100% del contenedor padre */
  }
  
  /* Ajuste del input para que tenga un padding extra en el lado derecho */
  .password-input-container .form_input {
    width: 18rem; /* O el tamaño que estés utilizando */
    padding-right: 1rem; /* Espacio suficiente para el icono */
  }

  .message{
    text-align: justify;
  }
  