.navigation {
    width: 100vw;
    height: 5rem;
    background-color: #0B4A5F;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

ul {
    display: flex;
    width: 350px;
}

li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    transition: 0.9s;
}

a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.icon {
    position: relative;
    display: block;
    line-height: 80px;
    left: 0.35rem;
    font-size: 2rem;
    text-align: center;
    color: white;
    transition: 0.5s;
    
}

li.active .icon {
    transform: translateY(-40px);
}

.text {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

li.active .text {
    opacity: 1;    
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #00b422 ;
    border-radius: 50% ;
    border: 6px solid #073b4c;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 #073b4c ;
}


.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #073b4c ;
}

li:nth-child(1).active ~ .indicator
{
transform: translateX(calc(70px * 0 ));
}

li:nth-child(2).active ~ .indicator
{
transform: translateX(calc(70px * 1 ));
}

li:nth-child(3).active ~ .indicator
{
transform: translateX(calc(70px * 2 ));
}

li:nth-child(4).active ~ .indicator
{
transform: translateX(calc(70px * 3 ));
}

li:nth-child(5).active ~ .indicator
{
transform: translateX(calc(70px * 4 ));
}