.header_home {
    width: 485px;
    height: 350px;
    background-color: #079549a1;
    transform: translate(-12px, -125px) rotate(-20.93deg);
    border-radius: 120px;
    border: 10px solid #e7e7e78e;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.6);
}


.container_header {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10rem;
    right: 5rem;
    transform: rotate(20.93deg);
    overflow: hidden;

}
.container_user{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_user>img{
    width: 8rem;
}

.container_user>h2{
    font-size: 2.5rem;
}

.container_options{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.container_options>h4{
    font-weight: 400;
}

.icon_options{
    width: 1.5rem;
}

.icon_logout{
    width: 1.5rem;
}

.edit_icon {
    margin-top: -30px; /* Ajusta para cambiar la distancia entre la imagen y el icono */
    margin-left: -17%;
    border: 3px solid;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .edit_icon.show {
    opacity: 1;
    visibility: visible;
    width: 1.5rem;
    background-color: #079549;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 1.5rem;
    padding: 2px;
}
  
  .edit_icon.hide {
    opacity: 0;
    visibility: hidden;
  }