* {
    margin: 0;
    padding: 0;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #073B4C;    
}

.logo_login {
    width: 8rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.login,
.return {
    height: 4rem;
    background-color: #07954A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 7px 6px 10px #07954983;
    width: 15rem;
    border: none;
    font-size: 1.2rem;
}

.login {
    margin-top: 2rem;
}

.recover_password {
    color: #07954A;
    position: absolute;
    top: 33.5rem;
    left: 11rem;
}

.title-login {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    font-weight: 400;
    text-align: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem; /* Fija el ancho del formulario */
    margin: 0 auto; /* Centra horizontalmente */
    position: relative; /* Para mantener contenido interno */
}


.form_label {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #e7e7e7;
    position: relative;
}

.form_input {
    width: 18rem;
    height: 3.2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    background-color: transparent;
    border: 1.5px solid #e7e7e7;
    border-radius: 10px;
    color: #e7e7e7;
    outline: none;
}

.form_input:focus + .form_text,
.form_input:not(:placeholder-shown) + .form_text {
    background-color: #073B4C;
    transform: translateY(-145%) scale(1.1);
    padding: 0 0.5rem;
}

.form_text {
    position: absolute;
    top: -2.8rem;
    left: 1rem;
    color: #e7e7e7;
    transition: transform 0.3s;
}

.password-toggle-icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e7e7e7;
}

.error-message {
    color: #e7e7e7;
    text-align: center;
    margin-bottom: 1rem;
}

.responsivo-main{
    text-align: center;   
}

@media (width > 1200px) {
    .container-login {
        width: 100%;
        height: 100%;   
        background-image: linear-gradient(180deg, #073B4C,#073B4C, #07954A, #073b4c,#073B4C );   
           
           
    }

    .logo_login {
        width: 10rem;
        margin: 0;      
                      
    }
    
    .title-login {
        font-size: 2.8rem;
        margin-bottom: 1rem;
        font-weight: 400;
    }

    .login {
        margin-top: 1rem;        
    }

    .main_login{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 80%;         
        margin: 2rem;      
        border: 3px solid red;     
        padding: 2rem;          
        background-image: url("../../../assets/Images/fondos/fondo_long.png");
        background-position: center;
        border: 3px solid #073B4C;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #29b86c;
    }

    .form-login {               
       border-left: 3px solid rgb(120, 120, 120);
       ;       
       padding-left: 8rem;
       margin: 0;
              
    }  
    
    .error-message{
        font-size: 0.5rem;
    }
}