* {
    margin: 0;
    padding: 0;
}


.container-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #073B4C;
}

.logo {
    width: 15rem;
    margin-top: 6rem;
}

.login,
.return {
    height: 4rem;
    background-color: #07954A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 7px 6px 10px #07954983;
    width: 19rem;
    border: none;
    font-size: 1.2rem;

}

.login {
    margin-top: 4rem;
}

.recover_password {
    color: #07954A;
    position: absolute;
    top: 33.5rem;
    left: 11rem;
}


.title-login {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}