.Titulo {
  color: #e7e7e7;
  position: absolute;
  background: #073b4c;
  border-bottom-right-radius: 10px;
  padding: 5px 20px;
  letter-spacing: 2px;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

.Titulo::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -15px;
  border-top: 1px solid #e7e7e7;
  top: 0;
  border-top-left-radius: 10px;
  box-shadow: -5px -5px #073b4c;
}

.Titulo::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: -15px;
  border-top-left-radius: 10px;
  box-shadow: -5px -5px #073b4c;
  left: 0px;
  border-left: 1px solid #e7e7e7;
}

.img_cancha {
  width: 100%;
  height: 12rem;
  border-radius: 10px;
}

.Card {
  width: 19rem;
  height: auto;
  border-radius: 10px;
  padding: 7px;
  background-color: #073b4c;
  position: relative;
  border: 5px solid #e7e7e78e;
  margin: auto;
}

.content-img {
  width: 100%;
  height: 50%;
}

.content-links {
  color: #e7e7e7;
  display: flex;
  background-color: #073b4c;
  width: 100%;
  height: 10%;
  padding-top: 10px;
  border-radius: 10px;
}

.bottom-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: block;
  font-size: 24px;
  font-weight: bolder;
  color: #e7e7e7;
  text-align: center;
  letter-spacing: 2px;
  /*  margin: 1rem;*/
  /*background-image: linear-gradient(#07954a, black, #07954a );*/
  background-color: rgba(black, 0.5);
  /* padding: 5px 10px 15px 10px;    */

}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
  margin: 5px;
}

.big-text {
  font-size: 12px;
  display: block;
}

.regular-text {
  font-size: 1rem;
  color: #e7e7e7;
  text-decoration: none;

}

.item:nth-child(2) {
  border-left: 3px solid rgba(255, 255, 255, 0.126);
  /* border-right: 3px solid rgba(255, 255, 255, 0.126); */
  padding-left: 1rem;
  padding-right: 1rem;
}

.item:nth-child(3) {
  border-left: 3px solid rgba(255, 255, 255, 0.126);
  /* border-right: 3px solid rgba(255, 255, 255, 0.126); */
  padding-left: 1rem;
  padding-right: 1rem;
}


.imgStar {
  width: 20px;
  height: 20px;
}

.container-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.row-row1{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}